{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="try-section"></section>
<div class="container text-container">
    <div class="container center">
        <p class="text-center" style="font-size: 2.5rem;">Password Generator</p>
        <p style="font-size: 1rem;">Include letters, numbers and special characters to generate a strong, secure password</p>
    </div>
</div>
<div class="container-lg generator-container">
    <div class="container-lg center">
        <div class="generator-form rounded" style="padding-top: 1.875rem !important;">
            <form method="post">
                {% csrf_token %}
                <p style="font-size: .875rem; margin-bottom: .3125rem;">Generated Password</p>
                <div class="d-flex flex-password">
                    <input id="password-box" class="null password-output" type="text" value="{{ data }}" readonly>
                    <input class="submit-button" type="submit" value="Generate Password">
                </div>
                <hr class="line-break">
                <p style="font-size: .875rem; margin-bottom: .125rem;">Length Selector</p>      
                <div class="d-flex flex-row justify-content-between mb-3 align-items-center">
                    <div class="d-inline-flex p-2">
                        <input class="length-input" type="text" id="length" name="length" required min="8" max="64" size="10" style="margin-left: -.5rem !important;" placeholder="8-64">
                    </div>
                    <div class="p-2">
                        <input type="checkbox" name="uppercaseletters" value="1" style="margin-right: .3125rem;" checked>Uppercase Letters
                    </div>
                    <div class="p-2">
                        <input type="checkbox" name="lowercaseletters" value="1" style="margin-right: .3125rem;" checked>Lowercase Letters
                    </div>
                    <div class="p-2">
                        <input type="checkbox" name="digits" value="1" style="margin-right: .3125rem;" checked>Digits
                    </div>
                    <div class="p-2">
                        <input type="checkbox" name="symbols" value="1" style="margin-right: .3125rem;" checked>Special Characters
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}