{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger create-alert" role="alert">
                <div class="d-flex justify-content-between align-items-center">
                    {{ message }}
                    <button type="button" class="btn-close close-message" data-bs-dismiss="alert"></button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</head>
<body>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>

    <div class="d-flex vh-100 justify-content-center align-items-center">
        <div class="container create-pwd-container rounded">
            <p class="text-center" style="font-size: 2rem; padding-top: 6.25rem;">Create a master password</p>
            <p class="text-center" style="font-size: 0.8437rem;">if you forget this password you won't be able to access your vault</p>
            <form class="align-items-center" method="post" action="{% url 'master' %}">
                {% csrf_token %}
                <div>
                    <input id="password" class="null password-check1 form-control" type="password" name="password1" placeholder="Enter main password">
                    <input id="password" class="null password-check2 form-control" type="password" name="password2" placeholder="Enter main password again">
                    <div class="d-flex justify-content-between align-items-center" style="margin-top: 120px !important;">
                        <a href="{% url 'home' %}" style="text-decoration: none; color: #051c3b;">Home</a>
                        <input class="create-button rounded" type="submit" value="Create Master Password">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>