{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger main-alert" role="alert">
                <div class="d-flex justify-content-between align-items-center">
                    {{ message }}
                    <button type="button" class="btn-close close-message" data-bs-dismiss="alert"></button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</head>
<body>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>

    <section class="new-try-section"></section>
    <div class="container-lg text-container"></div>
    <div class="container-lg enter-pwd-container rounded">
        <p class="text-center" style="font-size: 2rem; padding-top: 6.25rem;">Log in to your vault</p>
        <p class="text-center" style="font-size: 0.8437rem;">if you forget this password you won't be able to access your vault</p>
        <form class="enter-main-form d-flex justify-content-center align-items-center" method="post" action="{% url 'type_master' %}">
            {% csrf_token %}
            <div>
                <input id="password" class="null enter-password form-control" type="password" name="account_mainpassword" placeholder="Enter main password">
                <input class="enter-button rounded" type="submit" value="Log In">
            </div> 
        </form>
    </div>
    <p class="text-center" style="margin-left: -23.75rem; margin-top: .5rem !important"><a href="{% url 'home' %}" style="text-decoration: none; color: #051c3b;">Home</a></p>
</body>